body
{
    background-image:url("Images/Background.jpg");
     background-size: cover;
     background-repeat: no-repeat;
}
div {
    height: 100%; 
    width: 100%; 
    background-color: green; 
    color: blue; 
    border-radius: 50px;
}

input{
    opacity:1;
}
#login{
    background-color:darkgray;
    
    border:solid;
    width: 15%;
    height: 40%;
    opacity:0.5;
    position:fixed;
    top: 30%;
    left: 50%;
}
#shit{
    opacity:1;
}