<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/Scripts/MyScript.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/SeeThroughBox.css">
<div id="login">
    <form>
        First name: <input id="shit" type="text" name="fname" /><br>
        Last name: <input type="text" name="fname" /><br>
        <input type="submit" value="Submit" >
    </form>

</div>
