body
{
    background-image:url("Images/Background.jpg");
     background-size: cover;
     background-repeat: no-repeat;
}
div {
    height: 100%; 
    width: 100%; 
    background-color: green; 
    color: blue; 
    border-radius: 50px;
}