@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
    <link rel="stylesheet" type="text/css" href="/Content/BasePage.css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/Scripts/MyScript.js"></script>
</head>
<body >
    @Html.Editor("DEDE");
   
@Html.Partial("~/Views/Shared/_loginBox.cshtml");
    <p>dsf</p></div>
Welcome to MVC 5 Step by Step learning
</body>
</html>